.page {
  display: flex;
  flex-direction: column;
}

.page h1 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

main {
  display: flex;
  justify-content: center;
}

.searchContainer {
  width: 100%;
  display: flex;
}

form input {
  --padding-vertical: 1.1rem;
  flex: 1;
  padding-top: var(--padding-vertical);
  padding-bottom: var(--padding-vertical);
}
