* {
  box-sizing: border-box;
}

.page {
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  gap: 1rem;
  align-items: center;
}

header img {
  filter: brightness(0) invert(1);
  height: max-content;
  width: 3rem;
}

header h1 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  flex: 1;
  width: 100%;
}

@media (max-width: 480px) {
  header {
    gap: 0.8rem;
  }

  header h1 {
    font-size: 1.1rem;
  }

  header img {
    width: 2.5rem;
  }
}

main {
  display: flex;
  justify-content: center;
}

header {
  width: 100%;
  display: flex;
}

.searchContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.inputWrapper {
  display: flex;
  gap: 0.5rem;
}

.inputContainer {
  position: relative;
  width: 100%;
}

.inputContainer input {
  width: 100%;
  --padding-vertical: 1.1rem;
  flex: 1;
  padding-top: var(--padding-vertical);
  padding-bottom: var(--padding-vertical);
}

.randomMovie {
  border: 2px solid transparent;
  border-image: linear-gradient(
    to bottom right,
    #b827fc 0%,
    #2c90fc 25%,
    #b8fd33 50%,
    #fec837 75%,
    #fd1892 100%
  );
  border-image-slice: 1;
  text-transform: uppercase;
}

.randomMovie:active {
  border: 2px solid transparent;
  border-image: linear-gradient(
    to bottom right,
    #fd1892 0%,
    #fec837 25%,
    #b8fd33 50%,
    #2c90fc 75%,
    #b827fc 100%
  );
  border-image-slice: 1;
}

.removeQueryButton {
  display: flex;
  margin: 0;
  padding: 0.4rem 1.5rem;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
}

@media (hover) {
  .removeQueryButton:hover {
    background-color: transparent !important;
  }
}

.removeQueryButton:active {
  transform: translateY(-50%) !important;
}

.message {
  margin-top: 10px;
  width: 100%;
  height: 1rem;
}

.examplesButton {
  background-color: transparent;
}

@media (hover) {
  .examplesButton:hover {
    background-color: transparent;
  }
}

.examplesButton:active {
  transform: none !important;
}

.examplesHelper {
  font-weight: bold;
  font-size: 1.6rem;
  padding-top: 4rem;
}

.examplesHelper span {
  color: #6753ae;
}
